<?xml version="1.0" encoding="utf-8"?>
<!--
Ten plik jest wykorzystywany przez proces publikowania/pakowania projektu internetowego. Możesz dostosować zachowanie tego procesu
 poprzez edycję tego pliku MSBuild. Aby dowiedzieć się więcej o tym działaniu, odwiedź stronę https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a68abf65-3bab-4cb7-be5c-a46444244a0c/resourceGroups/sqlstrings/providers/Microsoft.Web/sites/ApkaJezykowa</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apkajezykowa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>2cf74845-be7f-42f3-95ea-3a9639f2506e</ProjectGuid>
    <PublishUrl>https://apkajezykowa.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ApkaJezykowa</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>